<html>
    <head>
        <title>pay with a star - Thanks!</title>
        include ./head.pug
    </head>
    <body>
        <div class="hero done">
            <img class="logo octocat" src="octocat.png"/>
            <img class="logo" src="logo.png"/>
            <div class="tagline">Thanks for the star!</div>
            <div class="subline">Taking you to <a id="url" href=""></a></div>
        </div>
        script(type='text/javascript').
            var redirect_url = location.search.split('=')[1];
            document.getElementById('url').textContent = redirect_url;
            document.getElementById('url').href = redirect_url;
            mixpanel.track('Done page', {redirect_url: redirect_url});
            window.setTimeout(function() {
                window.location = redirect_url;
            }, 3000);
    </body>
</html>
