<html>
    <head>
        <title>Pay with a star</title>
        <link rel="stylesheet" href="style.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link href="https://fonts.googleapis.com/css?family=Assistant:200" rel="stylesheet">
        <meta name="theme-color" content="#002635" />
    </head>
    <body class="new">
        <div class="hero">
            <img class="logo octocat" src="octocat.png"/>
            <img class="logo" src="logo.png"/>
            <div class="subline">Here's your link</div>
        </div>
        <div class="action">
            <input type="text" value="!{link}"/>
        </div>
    </body>
</html>
