<meta name="viewport" content="width=device-width">
<meta charset="utf-8">
<meta name="theme-color" content="#002635"/>
<link rel="stylesheet" href="style.css">
<link href="https://fonts.googleapis.com/css?family=Assistant:200" rel="stylesheet">
include ./mixpanel.pug
