<html>
    <head>
        <title>Pay with a star</title>
        <link rel="stylesheet" href="style.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link href="https://fonts.googleapis.com/css?family=Assistant:200" rel="stylesheet">
        <meta name="theme-color" content="#002635" />
    </head>
    <body>
        <div class="hero">
            <img class="logo octocat" src="octocat.png"/>
            <img class="logo" src="logo.png"/>
            <div class="tagline">get paid in stars</div>
            <div class="subline">for your open source work</div>
        </div>
        <div class="how">
            <div class="step">
                <span class="number">1</span>
                <div class="description">Generate your link</div>
            </div>
            <div class="step">
                <span class="number">2</span>
                <div class="description">People pay with a star</div>
            </div>
            <div class="step">
                <span class="number">3</span>
                <div class="description">They get access to content</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="example">
            <a href="/s/demo" class="button">try the demo</a>
        </div>
        <div class="action">
            <div class="or">or</div>
            <form action="/new">
                <input type="text" placeholder="author"/>
                <input type="text" placeholder="repo"/>
                <input type="submit" class="button" value="create your own"/>
            </form>
        </div>
    </body>
</html>
