<html>
    <head>
        <title>pay with a star</title>
        <link rel="stylesheet" href="style.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link href="https://fonts.googleapis.com/css?family=Assistant:200" rel="stylesheet">
    </head>
    <body>
        <div class="hero">
            <img class="logo octocat" src="octocat.png"/>
            <img class="logo" src="logo.png"/>
            <div class="tagline">get paid in social proof</div>
            <div class="subline">for your open source contributions</div>
        </div>
        <div class="action">
            <a href="/s/1" class="button">pay with a star</a>
        </div>
    </body>
</html>
