<html>
    <head>
        <title>Pay with a star</title>
        include ./head.pug
    </head>
    <body class="home">
        <div class="hero">
            <img class="logo octocat" src="octocat.png"/>
            <img class="logo" src="logo.png"/>
            <div class="tagline">get paid in stars</div>
            <div class="subline">for your open source work</div>
        </div>
        <div class="how">
            <div class="step">
                <span class="number">1</span>
                <div class="description">Generate your link</div>
            </div>
            <div class="step">
                <span class="number">2</span>
                <div class="description">People star your repo</div>
            </div>
            <div class="step">
                <span class="number">3</span>
                <div class="description">They get access to content</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="example">
            <a href="/s/demo" class="button" id="demo-link">try the demo link</a>
        </div>
        <div class="action">
            <div class="or">or</div>
            <form action="/generate" method="post" id="home-form">
                <input type="text" name="author" placeholder="author"/>
                <input type="text" name="repo" placeholder="repo"/>
                <input type="text" name="redirection" placeholder="link to content"/>
                <input type="submit" class="button" value="create your own"/>
            </form>
        </div>
        script(type='text/javascript').
            mixpanel.track_links('#demo-link', 'Demo link from home');
            mixpanel.track_forms('#home-form', 'Create link from home');
    </body>
</html>
