<html>
    <head>
        <title>Pay with a star - Generate a link</title>
        include ./head.pug
    </head>
    <body class="new">
        <div class="hero">
            <img class="logo octocat" src="octocat.png"/>
            <img class="logo" src="logo.png"/>
            <div class="subline">Create your own link</div>
        </div>
        <div class="action">
            <form action="/generate" method="post" id="new-form">
                <input type="text" name="author" placeholder="author"/>
                <input type="text" name="repo" placeholder="repo"/>
                <input type="text" name="redirection" placeholder="link to content"/>
                <input type="submit" class="button" value="generate link"/>
            </form>
        </div>
        script(type='text/javascript').
            mixpanel.track_forms('#new-form', 'Create link from new');
    </body>
</html>
