body {
    font-family: 'Assistant', sans-serif;
    height: 100%;
    font-weight: 200;
    font-size: 16px;
    background: #002635;
    color: FFF;
    max-width: 800px;
    margin: 0 auto;
}

/* Inputs and buttons */

.button {
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 2px;
    color: #002635;
    display: inline-block;
    background: #F9CD3C;
    cursor: pointer;
    text-decoration: none;
}
.button:hover, .button:focus {
    background: #ffdc68;
}

input {
    border: none;
    font-family: 'Assistant', sans-serif;
    font-size: 1em;
    padding: 10px 20px;
    width: 60%;
    margin: 2px 0;
    border-radius: 2px;
}
input:focus {
    outline: none;
}

@media screen and (max-width: 600px) {
    input {
        width: 100%;
    }
}

/* Hero */

.hero {
    text-align: center;
    padding: 15% 5% 0;
}
.logo {
    height: 5em;
    margin-bottom: 3em;
}
.logo.octocat {
    margin-right: -50px;
    position: relative;
}
.tagline {
    font-size: 2.5em;
    color: #F9CD3C;
}
.subline {
    color: #EEE;
    font-size: 1.4em;
}
@media screen and (min-width: 600px) {
    .home input {
        width: 24%;
    }
}

/* How it works */

.how {
    margin: 12% auto;
}
.step {
    width: 33%;
    float: left;
    text-align: center;
}
.step .number {
    color: #F9CD3C;
}
.clear {
    clear: both;
}

@media screen and (max-width: 600px) {
    .how {
        width: 75%;
    }
    .step {
        width: 100%;
        margin: 1em 0;
        text-align: left;
    }
    .step .number {
        float: left;
        margin-right: 2em;
    }
}

/* Example */

.example {
    text-align: center;
    margin: 10% 0 10%;
}
.example .button {
    font-size: 1.2em;
    padding: 10px 30px;
}

@media screen and (max-width: 600px) {
    .example .button {
        font-size: 1em;
    }
}


/* Actions */

.action {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
.or {
    margin-bottom: 2em;
}

/* New page */

.new .hero {
    padding: 20% 5% 10%;
}

/* Done page */

#url {
    color: #ffeeb4;
    text-decoration: none;
}
.done .subline {
    margin-top: 1em;
}
